@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: #f4f0ef;
    color: #798252;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

header {
    padding: 2rem;
    background-color: #331F19;
}

h2 {
    padding: 2rem;
}

img {
    width: 300px;
    border: 5px solid #CCD595;
}

p {
    padding: 2rem;
}

footer {
    background-color: #331F19;
    color: #f4f0ef;
}

footer a {
    text-decoration: none;
    color: #CCD595;
}